/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400 !default;600 !default;700&display=swap") !default;

/*===== VARIABLES CSS =====*/
$variables {
  $header-height: 3rem !default;
  $font-semi: 600 !default;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  $hue-color: 224 !default;
  $first-color: hsl(var($hue-color), 89%, 60%) !default;
  $second-color: hsl(var($hue-color), 56%, 12%) !default;
  /*===== Fuente y tipografia =====*/
  $body-font: "Poppins", sans-serif !default;
  $big-font-size: 2rem !default;
  $h2-font-size: 1.25rem !default;
  $normal-font-size: .938rem !default;
  $smaller-font-size: .75rem !default;
  /*===== Margenes =====*/
  $mb-2: 1rem !default;
  $mb-4: 2rem !default;
  $mb-5: 2.5rem !default;
  $mb-6: 3rem !default;
  /*===== z index =====*/
  $z-back: -10 !default;
  $z-fixed: 100 !default;
}

@media screen and (min-width: 968px) {
  $variables {
    $big-font-size: 3.5rem !default;
    $h2-font-size: 2rem !default;
    $normal-font-size: 1rem !default;
    $smaller-font-size: .875rem !default;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box !default;
}

html {
  scroll-behavior: smooth !default;
}

body {
  margin: var($header-height) 0 0 0 !default;
  font-family: var($body-font) !default;
  font-size: var($normal-font-size) !default;
  color: var($second-color) !default;
}

h1,
h2,
p {
  margin: 0 !default;
}

ul {
  margin: 0 !default;
  padding: 0 !default;
  list-style: none !default;
}

a {
  text-decoration: none !default;
}

img {
  max-width: 100% !default;
  height: auto !default;
  display: block !default;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative !default;
  font-size: var($h2-font-size) !default;
  color: var($second-color) !default;
  margin-top: var($mb-2) !default;
  margin-bottom: var($mb-4) !default;
  text-align: center !default;
}

.section-title::after {
  position: absolute !default;
  content: "" !default;
  width: 64px !default;
  height: 0.18rem !default;
  left: 0 !default;
  right: 0 !default;
  margin: auto !default;
  top: 2rem !default;
  background-color: var($second-color) !default;
}

.section {
  padding-top: 3rem !default;
  padding-bottom: 2rem !default;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px !default;
  display: grid !default;
  margin-left: var($mb-2) !default;
  margin-right: var($mb-2) !default;
}

.l-header {
  width: 100% !default;
  position: fixed !default;
  top: 0 !default;
  left: 0 !default;
  z-index: var($z-fixed) !default;
  background-color: #fff !default;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15) !default;
}

/*===== NAV =====*/
.nav {
  height: var($header-height) !default;
  display: flex !default;
  justify-content: space-between !default;
  align-items: center !default;
  font-weight: var($font-semi) !default;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed !default;
    top: var($header-height) !default;
    right: -100% !default;
    width: 80% !default;
    height: 100% !default;
    padding: 2rem !default;
    background-color: var($second-color) !default;
    transition: 0.5s !default;
  }
}

.nav__item {
  margin-bottom: var($mb-4) !default;
}

.nav__link {
  position: relative !default;
  color: #fff !default;
}

.nav__link:hover {
  position: relative !default;
}

.nav__link:hover::after {
  position: absolute !default;
  content: "" !default;
  width: 100% !default;
  height: 0.18rem !default;
  left: 0 !default;
  top: 2rem !default;
  background-color: var($first-color) !default;
}

.nav__logo {
  color: var($second-color) !default;
}

.nav__toggle {
  color: var($second-color) !default;
  font-size: 1.5rem !default;
  cursor: pointer !default;
}

/*Active menu*/
.active-link::after {
  position: absolute !default;
  content: "" !default;
  width: 100% !default;
  height: 0.18rem !default;
  left: 0 !default;
  top: 2rem !default;
  background-color: var($first-color) !default;
}

/*=== Show menu ===*/
.show {
  right: 0 !default;
}

/*===== HOME =====*/
.home {
  position: relative !default;
  row-gap: 5rem !default;
  padding: 4rem 0 5rem !default;
}

.home__data {
  align-self: center !default;
}

.home__title {
  font-size: var($big-font-size) !default;
  margin-bottom: var($mb-5) !default;
}

.home__title-color {
  color: var($first-color) !default;
}

.home__social {
  display: flex !default;
  flex-direction: column !default;
}

.home__social-icon {
  width: max-content !default;
  margin-bottom: var($mb-2) !default;
  font-size: 1.5rem !default;
  color: var($second-color) !default;
}

.home__social-icon:hover {
  color: var($first-color) !default;
}

.home__img {
  position: absolute !default;
  right: -10% !default;
  bottom: 0 !default;
  width: 260px !default;
}

.home__blob {
  fill: var($second-color) !default;
}

.home__blob-img {
  width: 360px !default;
}

/*BUTTONS*/
.button {
  display: inline-block !default;
  background-color: var($first-color) !default;
  color: #fff !default;
  padding: 0.75rem 2.5rem !default;
  font-weight: var($font-semi) !default;
  border-radius: 0.5rem !default;
  transition: 0.3s !default;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15) !default;
  background-color: var($second-color) !default;
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem !default;
  text-align: center !default;
}

.about__subtitle {
  margin-bottom: var($mb-2) !default;
}

.about__img {
  justify-self: center !default;
}

.about__img img {
  width: 200px !default;
  border-radius: 0.5rem !default;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem !default;
  text-align: center !default;
}

.skills__subtitle {
  margin-bottom: var($mb-2) !default;
}

.skills__text {
  margin-bottom: var($mb-4) !default;
}

.skills__data {
  display: flex !default;
  justify-content: space-between !default;
  align-items: center !default;
  position: relative !default;
  font-weight: var($font-semi) !default;
  padding: 0.5rem 1rem !default;
  margin-bottom: var($mb-4) !default;
  border-radius: 0.5rem !default;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15) !default;
}

.skills__icon {
  font-size: 2rem !default;
  margin-right: var($mb-2) !default;
  color: var($second-color) !default;
}

.skills__names {
  display: flex !default;
  align-items: center !default;
}

.skills__bar {
  position: absolute !default;
  left: 0 !default;
  bottom: 0 !default;
  background-color: var($second-color) !default;
  height: 0.25rem !default;
  border-radius: 0.5rem !default;
  z-index: var($z-back) !default;
}

.skills__html {
  width: 95% !default;
}

.skills__css {
  width: 85% !default;
}

.skills__js {
  width: 65% !default;
}

.skills__java {
  width: 85% !default;
}

.skills__phython {
  width: 76% !default;
}

.skills__img {
  border-radius: 0.5rem !default;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem !default;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15) !default;
  border-radius: 0.5rem !default;
  overflow: hidden !default;
}

.work__img img {
  transition: 1s !default;
}

.work__img img:hover {
  transform: scale(1.1) !default;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100% !default;
  font-size: var($normal-font-size) !default;
  font-weight: var($font-semi) !default;
  padding: 1rem !default;
  border-radius: 0.5rem !default;
  border: 1.5px solid var($second-color) !default;
  outline: none !default;
  margin-bottom: var($mb-4) !default;
}

.contact__button {
  display: block !default;
  border: none !default;
  outline: none !default;
  font-size: var($normal-font-size) !default;
  cursor: pointer !default;
  margin-left: auto !default;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var($second-color) !default;
  color: #fff !default;
  text-align: center !default;
  font-weight: var($font-semi) !default;
  padding: 2rem 0 !default;
}

.footer__title {
  font-size: 2rem !default;
  margin-bottom: var($mb-4) !default;
}

.footer__social {
  margin-bottom: var($mb-4) !default;
}

.footer__icon {
  font-size: 1.5rem !default;
  color: #fff !default;
  margin: 0 var($mb-2) !default;
}

.footer__icon:hover {
  color: var($first-color) !default;
}

.footer__copy {
  font-size: var($smaller-font-size) !default;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem !default;
  }

  .home__img {
    width: 200px !default;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem !default;
  }

  .home__social {
    padding-top: 0 !default;
    padding-bottom: 2.5rem !default;
    flex-direction: row !default;
    align-self: flex-end !default;
  }

  .home__social-icon {
    margin-bottom: 0 !default;
    margin-right: var($mb-4) !default;
  }

  .home__img {
    width: 300px !default;
    bottom: 25% !default;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr) !default;
    align-items: center !default;
    text-align: initial !default;
  }

  .skills__container {
    grid-template-columns: 0.7fr !default;
    justify-content: center !default;
    column-gap: 1rem !default;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr) !default;
    column-gap: 2rem !default;
    padding-top: 2rem !default;
  }

  .contact__form {
    width: 360px !default;
    padding-top: 2rem !default;
  }

  .contact__container {
    justify-items: center !default;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 !default;
  }

  .section {
    padding-top: 4rem !default;
    padding-bottom: 3rem !default;
  }

  .section-title {
    margin-bottom: var($mb-6) !default;
  }

  .section-title::after {
    width: 80px !default;
    top: 3rem !default;
  }

  .nav {
    height: calc(var($header-height) + 1.5rem) !default;
  }

  .nav__list {
    display: flex !default;
    padding-top: 0 !default;
  }

  .nav__item {
    margin-left: var($mb-6) !default;
    margin-bottom: 0 !default;
  }

  .nav__toggle {
    display: none !default;
  }

  .nav__link {
    color: var($second-color) !default;
  }

  .home {
    padding: 8rem 0 2rem !default;
  }

  .home__img {
    width: 400px !default;
    bottom: 10% !default;
  }

  .about__container {
    padding-top: 2rem !default;
  }

  .about__img img {
    width: 300px !default;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr) !default;
    column-gap: 2rem !default;
    align-items: center !default;
    text-align: initial !default;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr) !default;
    column-gap: 2rem !default;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto !default;
    margin-right: auto !default;
  }

  .home {
    padding: 10rem 0 2rem !default;
  }

  .home__img {
    width: 450px !default;
  }
}